* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #474747;
}

#validation_form {
    width: 400px;
    padding: 20px;
    text-transform: capitalize;
    background-color: #fff;
}